:root {
    font-size: 10px;

    --paragraph-spacing: 2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Okta, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    letter-spacing: .03em;
    line-height: 1.6em;
    transition: height 0.2s ease;
}

pre,
code {
    font-family: Cascadia Code, monospace;
    letter-spacing: .01em;
    font-size: 1.4rem;
}

a {
    color: inherit;
    text-decoration: inherit;

    &:active,
    &:visited {
        color: inherit;
    }
}

h2 {
    line-height: 1.4em;
}

p:not(:last-child) {
    margin-bottom: var(--paragraph-spacing);
}

.spacer {
    margin: 0 auto;
    max-width: 700px;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.2s ease;
}

.page-enter-from,
.page-leave-to {
    transform: translateX(2rem);
    opacity: 0;
}

.page-enter-from {
    transform: translateX(-2rem);
}